.mltk-boxplot {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.mltk-boxplot-warning {
    max-width: 100%;
    overflow: hidden;
}

.mltk-boxplot-warning > .alert {
    max-width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.mltk-boxplot-warning > .alert > p {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
